.welcome-banner {
    width: 100%;
    padding: 6rem 0;
    text-align: center;
    background-color: $white;
    color: white;
}

.alert-message {
    position: absolute;
    top:10px;
    right: 50px;
}